.image {
  max-width: 860px;
  width: 100%;
  height: 480px;
  background: #c4c4c4;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .image {
    height: 370px;
  }
}
