.block {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  color: #141414;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #141414;
}
