.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
  padding: 35px 20px 29px 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 2000px;
  width: 100%;
}

.phone {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
