.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 20px 18px 20px;
  background: #141414;
}

.copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
